.red_rec{
    width: 50vw;
    height: 50vh;
    
}
.red_rec_color{
    background-color: rgba(255, 0, 0, 0.527);
}
.green_rec_color{
    background-color: rgba(0, 255, 13, 0.527);
}
.red_btn{
    margin-top: 2rem;
    padding: 0.8rem 1.8rem;
    background-color: red;
    color: white; 
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}